@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans Japanese Regular'), local('NotoSansJapanese-Regular'),
       url('../fonts/noto-sans-jp-v25-japanese_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-jp-v25-japanese_latin-regular.woff') format('woff'); /* Modern Browsers */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Modern Browsers */
}

.chara_hinaki {
	color: #d4bc76;
}

.chara_sumire {
	color: #b691d3;
}

.chara_akari {
	color: #d68546;
}

.chara_ichigo {
	color: #f8d74a;
}

.chara_hime {
	color: #a8874a;
}

.chara_juri {
	color: #d82f3d;
}



.pict {
  text-align: left;
}
.pict img{
	width: 300px;
}

.right {
  text-align: right;
  color: gray;
}

.nav-links {
  margin: 0;
  padding: 0;
  font-size: 24px;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 10px 0 0 40px;
}

.intro-header [class$="-heading"] h1 {
  margin-top: 0;
  padding-top: 0;
  font-size: 35px;
}

.breadcrumb {
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style: none;
}
.breadcrumb li:not(:last-child)::after {
  content: '>';
  padding: 0 0.5em;
}
